/*
<!--
    ########################################
    ## @author Benjamin Thomas Schwertfeger (2021)
    ## https://github.com/Crynetomega/Youtube-Downloader
    ############
-->
*/

* {
  text-align: center;
}
.headline {
  margin-top: 28vh;
}

#url_input {
  font-size: 1.3em;
  padding: 5px 10px;
  border-radius: 6px;
  width: 32em;
  text-align: left;
  border: 2px solid #eeeeee;
  background: #eeeeee;
  outline: none;
}

#url_input:focus {
  border: 2px solid #000000;
}

input[type=button] {
  color: #FFFFFF;
}

.table-container {
  width: 80rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.bg-info {
  color: #FFFFFF;
}

.notice {
  position: absolute;
  right: 8em;
  top: 2em;
  font-size: 14px;
  color: #9e9e9e;;
}